.hero-image {
  width: 100%;
}

.hero-image img {
  width: 100%;
}

.project-description {
  margin: 0;
  min-height: 500px;
  padding: 48px 40px;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.project-description .heading, .project .paragraph {
  margin-left: 2%;
}

.navigational-table {
  width: 100%;
  margin-left: 2%;
  padding: 4% 0;
}

.navigational-table .table-name {
  padding-bottom: 8px;
}

.table-name span {
  border-bottom: 1px solid black;
}

.navigational-table td {
  padding: 10px 0;
}

.navigational-table .title {
  min-width: 600px;
}

.navigational-table a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .bottom-navigation {
    bottom: 0;
  }
}